<% if @user.errors.any? %>
  <div id="error_explanation">
    <h4 class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>
    </h4>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
