<% provide(:title, 'Driver Rank') %>
  <h1>Welcome To Driver <strong>Rank</strong></h1>
  <h5>Rate other shit💩head drivers on their driving abilities</h5>
  <p><i class="fa fa-thumbs-o-down"></i> That person who just cut you off?</p>
  <p><i class="fa fa-thumbs-o-down"></i> How about that person taking up 3 parking spots?</p>
  <p><i class="fa fa-thumbs-o-down"></i> And what about that person who never put on their indicator?</p>
  <h5>Kudos to those who deserve it too</h5>
  <p><i class="fa fa-thumbs-o-up"></i> That person who let you pass infront of him?</p>
  <p><i class="fa fa-thumbs-o-up"></i> Good guy steve who helped you shovel your car out of 8 feet of snow?</p>
  <h5>Have some fun with it</h5>
  <p><i class="fa fa-question"></i> How would you rate compared to other drivers?</p>
  <p><i class="fa fa-question"></i> Compared to your friends?</p>
  <%= link_to "Rate Someone 🚗", new_licenceplate_path, class: "waves-effect waves-light btn-large blue mt-3", :method => :get %>
  <span>&nbsp;&nbsp;</span>
  <%= link_to "View Rankings 🚙", licenceplates_path, class: "waves-effect waves-light btn-large green mt-3", :method => :get %>
