<!DOCTYPE html>
<html>
<head>
  <title>Welcome Index</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <h1>Welcome To Plate Rank</h1>
  <p>Rate other shithead drivers on their performance up or down, plain and simple!</p>
  <%= link_to 'New Plate Rank', new_licenceplate_path %>
  <br/><br/>
  <%= link_to 'All Plate Ranks', licenceplates_path %>
</body>
</html>
