<!DOCTYPE html>
<html>

<head>
  <title>Welcome Index</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <h1>Edit Licence Plate</h1>
  <%= render 'form' %>
  <%= link_to 'Back', welcome_index_path %>
</body>
</html>
