/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  min-width: 100vw;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main{
  flex: 1 0 auto; /* fixes footer to the bottom of the page */
}
.debug_dump{
 border-radius: 20px;
 background-color: lightgrey;
 padding: 20px 20px;
}

/* Change Color of Checkbox on Log In Page  */
[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after{
  border-color: rgb(72,149,236);
}
[type="checkbox"]:checked+label:before{
  border-right: 2px solid rgb(72,149,236);
  border-bottom: 2px solid rgb(72,149,236);
}
/* Change lock on hover */
#logout-emoji:hover span {
  display:none
}
#logout-emoji:hover:before {
  content:"🔓"
}

/* Change lock on hover */
#login-emoji:hover span {
  display:none
}
#login-emoji:hover:before {
  content:"Login 🔒"
}

#footer-button{
  width: 10em;
  margin: 0 5px 5px 5px;
}

/*========== Mobile Fixes ==========*/
/* iPhone 6 */
@media (max-width: 768px){
  #footer-button{
  }
}
/* iPhone 5, for ghetto people like justin*/
  @media (max-width: 320px){
    #footer-button{
  }
}
