/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Note to future KEVIN, this works in all files  */
html,body{
 min-width: 100 vw;
 min-height: 100 vh;
}

.debug_dump{
 border-radius: 20px;
 background-color: lightgrey;
 padding: 20px 20px;
}

/* Change Color of Checkbox on Log In Page  */
[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after{
  border-color: rgb(72,149,236);
}
[type="checkbox"]:checked+label:before{
  border-right: 2px solid rgb(72,149,236);
  border-bottom: 2px solid rgb(72,149,236);
}
.btn-floating.btn-large{
  width: 70px;
  height: 70px;
  font-size: 2em;
  padding-top: 10px;
}
